@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Organic_Shop.Models.TinDang>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "News";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="AdminPages" asp-controller="Home" asp-action="Index" class="breadcrumb-item">News</a>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10">
                        <select id="idPageStatus" name="idPageStatus" class="custom-select" style="min-width: 200px;" asp-items="ViewBag.PageStatus">
                            <option value="" disabled>Status</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a asp-action="Create" class="btn btn-primary btn-tone">Add News</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Short Description</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @item.PostId
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                <h6 class="m-b-0 m-l-10">@item.Title</h6>
                            </div>
                        </td>
                        <td style="width: 300px">
                            <p>@item.Scontents</p>
                        </td>
                        @if (item.Published)
                            {
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>Published</div>
                                    </div>
                                </td>
                            }


                         else
                            {
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="badge badge-danger badge-dot m-r-10"></div>
                            <div>Private</div>
                        </div>
                    </td>
                            }
                          
                        <td class="text-right">
                            <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-primary btn-tone btn-icon btn-sm"><i class="anticon anticon-eye"></i></a>
                            <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-success btn-tone btn-icon btn-sm"><i class="anticon anticon-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger btn-tone btn-icon btn-sm"><i class="anticon anticon-delete"></i></a>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
