@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Organic_Shop.Models.Product>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Customer List - Page " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="AdminProducts" asp-controller="Home" asp-action="Index" class="breadcrumb-item">Product</a>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select id="idProduct" name="idProduct" class="custom-select" style="min-width: 200px;" asp-items="ViewBag.ListRole">
                            <option value="" disabled>Roles</option>
                        </select>
                    </div>
                    <div class="m-b-10">
                        <select id="idStatusProduct" name="idStatusProduct" class="custom-select" style="min-width: 200px;" asp-items="ViewBag.Status">
                            <option value="" disabled>Status</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a asp-action="Create" class="btn btn-primary btn-tone">Add Product</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product name</th>
                        <th>Thumbnail</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ProductId
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.ProductName</h6>
                                    </div>
                                </td>
                                <td>@item.Thumb</td>
                                <td>@item.Cat.CatName</td>
                                <td>@item.Price</td>
                                <td>@item.UnitsInStock</td>
                                <td></td>
                                if(@item.UnitsInStock > 0){
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>In Stock</div>
                                    </div>
                                </td>
                                }
                                else {
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                        <div>Out of Stock</div>
                                    </div>
                                </td>
                                }
                                <td class="text-right">
                                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary btn-tone btn-icon btn-sm"><i class="anticon anticon-eye"></i></a>
                                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-success btn-tone btn-icon btn-sm"><i class="anticon anticon-edit"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger btn-tone btn-icon btn-sm"><i class="anticon anticon-delete"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" />
            </ul>
        </div>
    </div>
</div>
